//! **************************************************************************
// Written by: Map P.28xd on Sun Nov 11 12:56:38 2012
//! **************************************************************************

SCHEMATIC START;
COMP "SSEG_AN<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "SSEG_AN<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "SSEG_AN<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "SSEG_AN<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "SSEG_CA<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "SSEG_CA<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "SSEG_CA<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "SSEG_CA<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "SIG" LOCATE = SITE "P11" LEVEL 1;
COMP "SSEG_CA<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "SSEG_CA<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "SSEG_CA<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "SSEG_CA<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "SW" LOCATE = SITE "T10" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

