NET "SSEG_AN[0]" LOC = N16;//Right Most Segment
NET "SSEG_AN[1]" LOC = N15;
NET "SSEG_AN[2]" LOC = P18;
NET "SSEG_AN[3]" LOC = P17;//Left Most Segment
NET "SSEG_CA[0]" LOC = T17;//A
NET "SSEG_CA[1]" LOC = T18;//B
NET "SSEG_CA[2]" LOC = U17;//C
NET "SSEG_CA[3]" LOC = U18;//D
NET "SSEG_CA[4]" LOC = M14;//E
NET "SSEG_CA[5]" LOC = N14;//F
NET "SSEG_CA[6]" LOC = L14;//G
NET "SSEG_CA[7]" LOC = M13;//Period
NET "SW[0]" LOC = T10;//SW 0
NET "SW[1]" LOC = T9;//SW 1
NET "SW[2]" LOC = V9;//SW 2
NET "SW[3]" LOC = M8;//SW 3
NET "SW[4]" LOC = N8;//SW 4
NET "SW[5]" LOC = U8;//SW 5
NET "SW[6]" LOC = V8;//SW 6
NET "SW[7]" LOC = T5;//SW 7
NET "CLK" LOC = V10;
#NET "LED" LOC = U16;
#NET "LED[1]" LOC = V16;
#NET "LED[2]" LOC = U15;
#NET "LED[3]" LOC = V15;
#NET "LED[4]" LOC = M11;
#NET "LED[5]" LOC = N11;
#NET "LED[6]" LOC = R11;
#NET "LED[7]" LOC = T11;
NET "BTN[0]" LOC = D9;//BTNR
NET "BTN[1]" LOC = C9;//BTND
NET "BTN[2]" LOC = A8;//BTNU
NET "BTN[3]" LOC = C4;//BTNL
NET "BTN[4]" LOC = B8;//BTNC
#NET "RCLK" LOC = M10;//JA Pin #7
#NET "SensorReset" LOC = N9;//JA Pin #8
#NET "RDATA1" LOC = U11; //JA Pin #9
#NET "RDATA2" LOC = V11; //JA Pin #10
#NET "RCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PWM_MC1" LOC = N10;//JA Pin #3
NET "PWM_MC2" LOC = U11;//JA Pin #7
NET "US_BACK" LOC = K2; //JB Pin# 1
NET "US_SIDE_BACK" LOC = K1; //JB Pin# 2
NET "US_SIDE_FRONT" LOC = L4; //JB Pin# 3
NET "US_FRONT" LOC = L3; //JB Pin# 4
